
<nav class="navbar bg-primary navbar-dark fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
        QuizApp
      </a>
    </div>
  </nav>
  <footer>
  <ul class="nav justify-content-center  bg-primary  navbar-expand fixed-bottom">
    <li class="nav-item">
      <a class="nav-link text-light active" aria-current="page" routerLink="footer">Terms And Condition</a>
    </li>
    
  </ul>
  </footer>